.field-certificate p,
.field-certificate .vLargeTextField,
.field-private_key p,
.field-private_key .vLargeTextField{
    font-family: monospace;
    white-space: pre;
}
.field-certificate .vLargeTextField,
.field-private_key .vLargeTextField{
    height: 350px;
}
.field-certificate p.help,
.field-private_key p.help{
    font-family: inherit;
    white-space: normal;
}
